{% extends "base.html" %}
{% load static %}

{% block demo %}
<!-- Reset Form -->
<a href="{% url 'download:demo' %}" role="button" class="btn btn-primary btn-lg btn-block" style="border-radius: 0px;"><b>RESET</b></a>

<!-- Download Form -->
<div class="container" style="padding-top: 20px;">
	<form action="{% url 'download:demo' %}" method="post" style="display: inline;">
		{% csrf_token %}
		<div class="form-group">
			<div class="input-group mb-3" align="center" style="margin:0 auto;">
			  {{ form.url }}
			  <div class="input-group-append">
				<button class="btn btn-primary" type="submit" style="width:120px;">
					<strong>Download</strong>
				</button>
			  </div>
			</div>
		</div>
		{{ form.errors }}
	</form>
</div>

<!-- Download Status -->
<div class="container" style="padding-top: 20px;">
	<div class="card" style="height: 120px;">
		{% block progress %}{% endblock progress %}
	</div>
</div>
{% endblock %}